{{#each model}}
  <div class="row-fluid">
    <div class="span12">
      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" alt="placeholder" src="http://placehold.it/64x64" /></a>
        <div class="media-body">
          <h4 class="media-heading">{{title}}</h4>
          <h6>{{link}}</h6>
          {{content}}
        </div><!--/media-body-->
      </div><!--/media-->
    </div><!--/span-->
  </div><!--/row-->
{{/each}}
