<div class="row-fluid">
  <div class="span12">
    {{#each model}}
      <div class="media">
        <a class="pull-left" href="#"><img class="media-object" alt="placeholder" src="http://placehold.it/64x64" /></a>
        <div class="media-body">
          <a target="_blank" {{bindAttr href="linkUrl"}}><h4 class="media-heading">{{title}}</h4></a>
          <span class="post-meta">{{author}} posted {{date createdAt}}</span>
        </div><!--/media-body-->
      </div><!--/media-->
    {{/each}}
  </div><!--/span-->
</div><!--/row-->
